{# <div class="alert alert-info" style="font-size: 10px;">
    ACTIVITY WIDZI: {{ options }}
</div> #}


<div class="form-floating">
    <select class="form-select" name="head">
        <option value="" {% if not values.value %}selected{% endif %}>- Wybierz -</option>
        {% for opt in options %}
            <option value="{{ opt }}"
                    {% if opt|string == values.value|string %}selected{% endif %}>
                {{ opt }}
            </option>
        {% endfor %}
    </select>
    <label>{{ values.label }}</label>
    <input type="hidden" name="label" value="{{ values.label }}">
    <input type="hidden" name="details">
</div>