<input type="hidden" name="type" value="metadata">

<div class="d-flex flex-row flex-nowrap align-items-center w-100 py-1 gap-3 metadata-row"
    style="min-width: max-content;">

    <div class="form-floating" style="flex: 0 0 180px;">
        <input type="text" class="form-control shadow-none border-secondary-subtle" name="training_type"
            placeholder="np. Tempo" value="{{ data.training_type or '' }}">
        <label class="text-secondary">Rodzaj treningu</label>
    </div>

    <div class="form-floating" style="flex: 0 0 150px;">
        <input type="date" class="form-control shadow-none border-secondary-subtle" name="date"
            value="{{ data.date or '' }}">
        <label class="text-secondary">Data</label>
    </div>

    <div class="form-floating" style="flex: 0 0 120px;">
        <input type="time" class="form-control shadow-none border-secondary-subtle" name="time"
            value="{{ data.time or '' }}">
        <label class="text-secondary">Godzina</label>
    </div>
    <div class="form-floating" style="flex: 0 0 180px;">
        <input type="text" class="form-control shadow-none border-secondary-subtle" name="place" placeholder=""
            value="{{ data.place or '' }}">
        <label class="text-secondary">Miejsce</label>
    </div>

    <div class="form-floating" style="flex: 0 0 200px;">
        <input type="text" class="form-control shadow-none border-secondary-subtle" name="weather"
            placeholder="np. Słonecznie, 20°C" value="{{ data.weather or '' }}">
        <label class="text-secondary">Pogoda / Warunki</label>
    </div>
</div>