<tbody>
    {% for r in range(1, num_rows + 1) %}
    <tr>
        {% for c in range(1, num_cols + 1) %}
        {% set is_merged = data['m_r' ~ r ~ 'c' ~ c] == '1' %}

        {% if is_merged %}
        <input type="hidden" name="m_r{{ r }}c{{ c }}" value="1">
        {% else %}
        {% set ns = namespace(rs=1, stop=false) %}
        {% for i in range(r + 1, num_rows + 1) %}
        {% if not ns.stop %}
        {% if data['m_r' ~ i ~ 'c' ~ c] == '1' %}
        {% set ns.rs = ns.rs + 1 %}
        {% else %}
        {% set ns.stop = true %}
        {% endif %}
        {% endif %}
        {% endfor %}

        {% set cell_val = data['r' ~ r ~ 'c' ~ c] if data['r' ~ r ~ 'c' ~ c] is defined else '' %}
        {% set h_val = data['h' ~ c] if data['h' ~ c] is defined else (default_headers[c-1] if c <=
            default_headers|length else 'Nowa' ) %} <td class="p-0 align-middle" rowspan="{{ ns.rs }}">
            {% include "blocks/table_cell.html" %}
            </td>
            {% endif %}
            {% endfor %}
    </tr>
    {% endfor %}
</tbody>