{% set num_rows = (data.num_rows | int) if data.num_rows else 1 %}
{% set num_cols = (data.num_cols | int) if data.num_cols else 2 %}
{% set default_headers = ["Ćwiczenie", "Powtórzenia", "Przerwa"] %}

<div class="node mb-3 text-start" id="table-{{ unique_id }}">
    <input type="hidden" name="type" value="table">
    <input type="hidden" name="num_rows" value="{{ num_rows }}">
    <input type="hidden" name="num_cols" value="{{ num_cols }}">

    <div class="exercise-table-wrapper">
        <table class="table w-auto mb-0 align-middle text-start" style="border-style: hidden; table-layout: fixed;">
            {% include "blocks/table_header.html" %}
            {% include "blocks/table_body.html" %}
        </table>
    </div>
</div>