<div class="dropdown">
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false" data-bs-popper-config='{"strategy":"fixed"}'>
        <i class="bi bi-list"></i> Opcje
    </button>

    <ul class="dropdown-menu shadow" hx-target="#details-container-{{ unique_id }}" hx-swap="beforeend">

        {% for label in ['Serie', 'Powtórzenia', 'Ciężar',"Dystans", "Czas"] %}
        <li>
            <button class="dropdown-item" type="button" hx-get="/card/custom_field?label={{ label }}">
                {{ label }}
            </button>
        </li>
        {% endfor %}
        <li>
            <button class="dropdown-item" type="button" hx-get="/card/custom_field">
                <i class="bi bi-plus-square me-2"></i>Własne pole
            </button>
        </li>
        <li>
            <button class="dropdown-item" type="button" hx-post="/card/repetition/{{ unique_id }}"
                hx-ext="json-body-builder" hx-target="#details-container-{{ unique_id }}" hx-swap="beforeend">
                <i class="bi bi-plus-square me-2"></i>Powiel serie
            </button>
        </li>
    </ul>
</div>