<div class="dropdown">

    <button class="btn btn-sm btn-link text-secondary p-0 shadow-none border-0" type="button" data-bs-toggle="dropdown"
        data-bs-boundary="window" data-bs-popper-config='{"strategy":"fixed"}'>
        <i class="bi bi-three-dots-vertical"></i>
    </button>

    <ul class="dropdown-menu shadow-sm">
        <li>
            <button class="dropdown-item" type="button" hx-post="/card/table/action/{{ unique_id }}"
                hx-vals='{"action": "add_col", "col_index": {{ col_index }}}' hx-include="#table-{{ unique_id }} input"
                hx-target="#table-{{ unique_id }}" hx-swap="outerHTML">
                <i class="bi bi-layout-split me-2"></i>Dodaj kolumnę po prawej
            </button>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <button class="dropdown-item text-danger" type="button" hx-post="/card/table/action/{{ unique_id }}"
                hx-vals='{"action": "remove_col", "col_index": {{ col_index }}}'
                hx-include="#table-{{ unique_id }} input" hx-target="#table-{{ unique_id }}" hx-swap="outerHTML">
                <i class="bi bi-trash me-2"></i>Usuń kolumnę
            </button>
        </li>
    </ul>
</div>