<div class="input-group-vertical node" data-children-key="details">
    <input type="hidden" name="type" value="exercise">

    <div class="input-group" id="details-container-{{ unique_id }}">
        {% with values = data.activity %}
        {% include "inputs/activity.html" %}
        {% endwith %}
        {% for item in data.details %}
        {% with values = item %}
        {% include "inputs/custom_detail.html" %}
        {% endwith %}
        {% endfor %}
    </div>


</div>
{% include "buttons/details_inputs.html" %}