<!-- {# <div style="background: blue; color: white; font-size: 10px; padding: 2px;">
    GYM WIDZI: {{ options }}
</div> #} -->


<input type="hidden" name="type" value="gym">
<input type="hidden" name="data">
<div class="input-group-vertical">


    <div class="input-group">
        {% with values = data.activity, options=options %}
            {% include "inputs/activity.html" %}
        {% endwith %}
    </div>

    <div class="input-group" id="details-container-{{ unique_id }}">
        {% for item in data.details %}
            {% with values = item %}
                {% include "inputs/custom_detail.html" %}
            {% endwith %}
        {% endfor %}
    </div>

</div>
{% include "buttons/details_inputs.html" %}