<input type="hidden" name="type" value="gym2">

<div class="input-group-vertical">
    <div class="input-group">
        <div class="form-floating">
            <input type="text" class="form-control" value="">
            <label>Ćwiczenie</label>
        </div>
    </div>
    <div class="input-group">
        <div class="form-floating">
            <input type="text" class="form-control" value="">
            <label>Powtórzenia</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" value="">
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" value="">
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" value="">
        </div>
    </div>
    <div class="input-group">
        <div class="form-floating">
            <input type="text" class="form-control" value="">
            <label>Ciężar [kg]</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" value="">
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" value="">
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" value="">
        </div>
    </div>
</div>
<div class="dropdown">
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false" data-bs-popper-config='{"strategy":"fixed"}'>
        <i class="bi bi-list"></i> Opcje
    </button>

    <ul class="dropdown-menu shadow" hx-target="#c-{{ unique_id }} .input-group" hx-swap="beforeend">

        {% for key, label in [('quantity', 'Powtórzenia'), ('weight',
        'Ciężar')] %}
        <li>
            <button class="dropdown-item" type="button" hx-get="/input?type={{ key }}">
                {{ label }}
            </button>
        </li>
        {% endfor %}
    </ul>
</div>