<input type="hidden" name="type" value="list">
<div class="input-group-vertical node" data-children-key="items">

    {% set list_type = data.list_type | default('bullet') %}
    <input type="hidden" name="list_type" value="{{ list_type }}">

    <div class="list-items-container list-items-container-{{ list_type }} ps-3 border-start">
        {% set items = data.get('items', [{'content': ''}]) %}

        {% for item in items %}
            {% include 'exercises/list_item.html' with context %}
        {% endfor %}
    </div>
</div>