{# <div style="background: blue; color: white; font-size: 10px; padding: 2px;">
    RUNNING WIDZI: {{ options }}
</div> #}


<div class="input-group-vertical node" data-children-key="details">

    <input type="hidden" name="type" value="running">

    <div class="input-group">
        {% with values = data.activity, options=options %}
            {% include "inputs/activity.html" %}
        {% endwith %}
    </div>

    <div class="input-group" id="details-container-{{ unique_id }}">
        {% for item in data.details %}
            {% with values = item %}
                {% include "inputs/custom_detail.html" %}
            {% endwith %}
        {% endfor %}
    </div>
</div>
{% with unique_id=unique_id %}
    {% include "buttons/details_inputs.html" %}
{% endwith %}