{% set lvl = data.get('level', 0) | int %}
{% set dict_key = type ~ '_' ~ lvl if type == 'text' and lvl > 0 else type %}
{% set block_name = SETTINGS.get('block_names', {}).get(dict_key, 'Nieznany blok') %}


<div class="exercise-row position-relative border-bottom py-3 node" id="{{ unique_id }}">

    <input type="hidden" name="id" value="{{ unique_id }}">
    <input type="hidden" name="level" value="{{ data.get('level', 0) }}">
    <input type="hidden" name="collapsed" value="{{ data.get('collapsed', 'false') }}">

    {% include "_card_sidebar.html" %}

    <div class="content-wrapper ps-1 pe-2 w-100">
        <div class="scroll-container">
            <table class="table table-borderless mb-0 w-100">
                <tr id="row-{{ unique_id }}">
                    <td class="p-0">
                        {% with data=data, options=options, unique_id=unique_id %}
                        {% include "blocks/" ~ type ~ ".html" %}
                        {% endwith %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>