<div class="form-control flex flex-row items-center gap-2 mb-2">
  <button type="button"
          class="btn btn-circle btn-sm btn-accent"
          title="Dodaj nowy wiersz"
          hx-get="/field-fragment"
          hx-swap="afterend"
          hx-target="closest .form-control">
    +
  </button>

  <input type="number" name="extra_number" placeholder="0" min="0" step="any" class="input input-bordered w-24">
  <input type="text" name="extra_text" placeholder="m" class="input input-bordered w-24">
  <input type="text" name="extra_text" placeholder="czas" class="input input-bordered w-24">
  <input type="text" name="extra_text" placeholder="sec" class="input input-bordered w-24">

  <button type="button"
          class="btn btn-circle btn-sm btn-secondary"
          title="Dodaj pole"
          hx-get="/single-input"
          hx-target="closest .btn-secondary"
          hx-swap="beforebegin">
    +
  </button>
</div>
