<nav id="sidebar" class="sidebar collapsed">

    <div class="mt-3 mb-2">
        <button id="hamburger-btn" class="toggle-btn shadow-none">
            <i class="bi bi-list"></i>
        </button>
    </div>

    <div class="mb-2">
        <a href="#" class="nav-link" hx-get="/new_workout" hx-target="#fields-container" hx-swap="innerHTML">
            <i class="bi bi-plus-lg"></i>
            <span class="menu-text">Nowy trening</span>
        </a>
    </div>

    <div class="mb-1">
        <form id="sidebar-upload-form" hx-post="/load" hx-target="#fields-container" hx-swap="innerHTML"
            enctype="multipart/form-data" style="display: none;">
            <input type="file" id="sidebar-file-input" name="file" accept=".json">
            <button type="submit" id="sidebar-submit-btn"></button>
        </form>

        <a href="#" class="nav-link" id="sidebar-import-btn">
            <i class="bi bi-upload"></i>
            <span class="menu-text">Wczytaj z pliku</span>
        </a>
    </div>
    <div class="mb-3">
        <a href="#" class="nav-link text-info" id="sidebar-export-btn">
            <i class="bi bi-download"></i>
            <span class="menu-text">Pobierz</span>
        </a>
    </div>
    <div class="folders-container mt-2 mb-2">
        <div class="sidebar-heading menu-text">
            Foldery
        </div>
        <ul class="list-unstyled mb-0">
            <li>
                <a href="#" class="nav-link">
                    <i class="bi bi-folder"></i>
                    <span class="menu-text">Siłownia</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <i class="bi bi-folder"></i>
                    <span class="menu-text">Przepisy</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <i class="bi bi-folder"></i>
                    <span class="menu-text">Zamówienia</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-secondary">
                    <i class="bi bi-folder-plus"></i>
                    <span class="menu-text fst-italic">Utwórz nowy...</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="recent-workouts-container mt-2">
        <div class="sidebar-heading menu-text">
            Ostatnie
        </div>

        <ul class="list-unstyled mb-0" id="recent-workouts-list" hx-get="/recent_workouts_html"
            hx-trigger="updateSidebar from:body">

            {% include "_recent_list.html" %}

        </ul>
    </div>

    <div class="mt-auto mb-4 border-top border-secondary pt-2" style="border-color: #3c3f43 !important;">
        <a href="#" class="nav-link">
            <i class="bi bi-gear"></i>
            <span class="menu-text">Ustawienia</span>
        </a>
    </div>
</nav>